<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I am an instructional designer and technical writing teacher at the University of Mississippi. I spend a lot of time thinking about how to make information more useful and how to help students create new knowledge. My interests include technical communication, usability and design, professional writing, composition, writing center studies, writing program administration, content management, online course development, hybrid composition instruction, network and activity theory for organizations, and adaptive/personalized learning.</p>
</div><!--//summary-->
</section><!--//section-->