<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Instructional Technology Designer</h3>
                            <div class="time">2011 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Mississippi</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I am responsible for designing and implementing training programs for multimodal composition and electronic portfolios for our instructional staff of full-time instructors, adjuncts, and graduate students. I serve as the technical liaison for the university's three writing centers, and I manage weekly professional development workshops. I am involved in the development of online composition sequence courses for the College of Liberal Arts and for Ole Miss Online, and I am part of a collaborative team exploring the future of personalized and adaptive platforms for the teaching of composition. I also manage the web presence and document management concept for the writing program. I teach Advanced Composition and Digital Writing.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technology Coordinator & Assistant Director</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Georgia State University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a graduate student I worked to implement an online tutoring program at GSU's <a href="http://writingstudio.gsu.edu">Writing Studio</a>. I developed the Studio's Reddot CMS-based website, supported the WCOnline scheduling system, and served as an administrative liason to the Department of English. </p>
                    </div><!--//details-->
                </div><!--//item-->
        
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Adjunct Professor</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Georgia Military College</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I taught sections of English Composition and British Literature at the GMC-Fairburn campus. </p>
                    </div><!--//details-->
                </div><!--//item-->

                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Adjunct Professor</h3>
                            <div class="time">2009 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Atlanta Technical College</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I taught online and F2F sections of English composition and learning support Writing courses. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->